{% extends 'blog/base.html' %}

{% block content %}
            <div class="list col-md-3">
              <h2>Posztok:</h2>
              {% for post in posts %}
              <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
              {% endfor %}
            </div>


          <div class="col-md-9 .col-md-offset-9">
              {% for post in posts %}
                  <div class="post">
                      <div class="date">
              {{ post.published_date }}
                      </div>
                      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                      <p>{{ post.text|linebreaksbr }}</p>
                  </div>
              {% endfor %}
          </div>
{% endblock %}
